body{
    background: linear-gradient(to right, #1a237e, #004fa6, #0078c3, #00a0d8, #00c8e7, #00c8e7, #00c8e7, #00c8e7, #00a0d8, #0078c3, #004fa6, #1a237e);
}

.text-shadow{
    text-shadow: 3px 3px 3px rgba(0,0,0,0.7);
}
.i-text-shadow{
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}
#password-message{
    text-align: justify;
}

.modal{
    background-color: rgba(255,255,255,0.6);
}

.editbtn{
    margin-left: 5px;
    margin-right: 5px;
}

.form-bg{
    background-color: rgba(0,0,0,0.4);
}

.blog-title{
    margin: 5px;
    line-height: 28px;
}
